body{
    background-color: white;
   
}
.body{
    background-color: #9A8C98;
    padding: 2%;
    margin: 3%;
    border-radius: 50px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}
.myname{
    font-family:'Courier New', Courier, monospace;
    text-align: center ;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
strong.a{
    color: #22223B
}
strong.b{
    color: #C9ADA7
}
em.a{
    color:darkgreen
}
em.b{
    color:darkmagenta
}
li.a{
    font-size: 20px;
}
li.b{
    font-size: 15px;
}
li.c{
    font-size: 25px;
}
.image-container{
    height: 300px;
    position: relative
    
    
    
}
.description{
      position: absolute;
      top: 30%;
      right: 8%;
    
    
}
#foto{
    float: left;
    padding: 10px;
    background-color:yellowgreen;
    height: 280px
}

ul li:nth-child(odd){
    background-color: yellow;
}
